<div style="display: flex; justify-content: center; align-items: center;">
    <form method="post" action="/login">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <label for="username">Username: &nbsp;</label>
        <input type="text" id="username" name="username"><br/>

        <label for="password">Password:&nbsp;</label>
        <input type="password" id="password" name="password"><br/>
        <button type="submit">Login</button>
        <p th:text="'Thymeleaf is working'"></p>
    </form>
</div>